google                      
google-ai-generativelanguage
google-api-core             
google-api-python-client     
google-auth                 
google-auth-httplib2        
google-generativeai          
google-pasta                
googleapis-common-protos   
langchain-core               
langsmith                   
libclang                     
google.generativeai
